# Exercise 1: Calculate the multiplication and sum of two numbers

### Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [9]:
def mul_or_sum (n1,n2):
    product =n1*n2
    if product <=1000:
        return product 
    else:
        return n1+n2
#first condition
result= mul_or_sum(20,30)
print ("the result is"+ result)

#Second condition
result = mul_or_sum(40,30)
print("the result is"+ result)

TypeError: can only concatenate str (not "int") to str

In [10]:
def mul_or_sum (n1,n2):
    product =n1*n2
    if product <=1000:
        return product 
    else:
        return n1+n2
#first condition
result= mul_or_sum(20,30)
print ("the result is", result)  #("text",Variable)

#Second condition
result = mul_or_sum(40,30)
print("the result is", result)

the result is 600
the result is 70

# Exercise 2: Print the sum of the current number and the previous number
### Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [16]:
print("Printing current and previous number sum in a range(10)")
previous_num=0

for i in range(0,10):
    sum_num=i+previous_num
    print("Current Number",i,"Previous Number",previous_num,"sum=",sum_num)
    previous_num=i

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number 0 sum= 0
Current Number 1 Previous Number 0 sum= 1
Current Number 2 Previous Number 1 sum= 3
Current Number 3 Previous Number 2 sum= 5
Current Number 4 Previous Number 3 sum= 7
Current Number 5 Previous Number 4 sum= 9
Current Number 6 Previous Number 5 sum= 11
Current Number 7 Previous Number 6 sum= 13
Current Number 8 Previous Number 7 sum= 15
Current Number 9 Previous Number 8 sum= 17

# Exercise 3: Print characters from a string that are present at an even index number
##### Write a program to accept a string from the user and display characters that are present at an even index number.
##### For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v

In [24]:
word=input("Enter word")

print ("Orginal String is:",word)

print("Printing only even index chars")

word_list=list(word)
for i in word_list[0::2]:
    print(i)

Enter wordo9m9a9r9a9b9u9r9i9z9k
Orginal String is: o9m9a9r9a9b9u9r9i9z9k
Printing only even index chars
o
m
a
r
a
b
u
r
i
z
k

# Exercise 4: Remove first n characters from a string
##### Write a program to remove characters from a string starting from zero up to n and return a new string.
###### For example:
###### remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
###### remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.
###### Note: n must be less than the length of the string.

In [50]:
def remove_chars(word,number):
    print ("Original string:",word)
    x=word[number:]
    return x

print(remove_chars("omaraburizk",4))
print(remove_chars("omaraburizk",3))
print(remove_chars("omaraburizk",2))

Original string: omaraburizk
aburizk
Original string: omaraburizk
raburizk
Original string: omaraburizk
araburizk

##### تركايه اني انا الي ادخل الرقم وكام حرف هيتحذف

In [41]:
def remove_chars (word,number):
    print("Original string:",word)
    x=word[number:]
    return x

zz=input("Enter word")
print ("Orginal String is:", zz)
# print(remove_chars(print ("Orginal String is:",zz),2))
word=zz
# print(remove_chars("pynative", 4))
# print(remove_chars("pynative", 2))

print(remove_chars(word,2))

Enter wordomatkama
Orginal String is: omatkama
Original string: omatkama
atkama

In [40]:
def remove_chars (word,number):
    print("Original string:",word)
    x=word[number:]
    return x

zz=input("Enter word")
print ("Orginal String is:", zz)
# print(remove_chars(print ("Orginal String is:",zz),2))
word=zz
# print(remove_chars("pynative", 4))
# print(remove_chars("pynative", 2))
yy=input("The numbers you will remove")
print ("Orginal String is:", yy)

print(remove_chars(word,2))

Enter wordomaraburizk
Orginal String is: omaraburizk
The numbers you will remove4
Orginal String is: 4
Original string: omaraburizk
araburizk

In [46]:
#user input word & numbers you will remove
def remove_chars (word,number):
    print("Original string:",word)
    x=word[number:]
    return x

zz=input("Enter word")
print ("Orginal String is:", zz)
# print(remove_chars(print ("Orginal String is:",zz),2))
word=zz
# print(remove_chars("pynative", 4))
# print(remove_chars("pynative", 2))
yy=input("The numbers you will remove")
print ("Orginal String is:", yy)

number=yy
int(yy)
print(remove_chars(word,yy)

SyntaxError: incomplete input (1930279474.py, line 18)

In [ ]:
#user input word & numbers you will remove
def remove_chars (word,number):
    print("Original string:",word)
    x=word[number:]
    return x

zz=input("Enter word")
print ("Orginal String is:", zz)
# print(remove_chars(print ("Orginal String is:",zz),2))
word=zz
# print(remove_chars("pynative", 4))
# print(remove_chars("pynative", 2))
yy=input("The numbers you will remove")
print ("Orginal String is:", yy)

number=yy
print(remove_chars(word,int(yy)))

# Exercise 5: Check if the first and last number of a list is the same
### Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [69]:
x=[1,2,3,4,5,6,8,9]
if x[0]==x[-1]:
    return True  
else:
    return False

SyntaxError: 'return' outside function (930681801.py, line 3)

In [68]:
# x=input("enter the lest")
# x=list(x)
x=[1,2,3,4,5,6,8,9]
def hhhh(number):
    if x[0]==x[-1]:
        return True
    else:
        return False
print(hhhh(x))

True

##### انا الي ادخل اليست واتحكم فيها

In [70]:
x=input("enter the list: ")
x=list(x)
def hhhh(number):
    if x[0]==x[-1]:
        return True
    else:
        return False
print(hhhh(x))

enter the lest123456789
False

In [71]:
x=input("enter the list: ")
x=list(x)
def hhhh(number):
    if x[0]==x[-1]:
        return True
    else:
        return False
print(hhhh(x))

enter the lest123456781
True

In [78]:
#if enter string return must entet integer
x=input("enter the list: ")
x=list(x)


if x==int:
    def hhhh(number):
        if x[0]==x[-1]:
            return True
        else:
            return False
else:
    print("enter the integer")
    x

enter the list: omatata

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

# Exercise 6: Display numbers divisible by 5 from a list
#### Iterate the given list of numbers and print only those numbers which are divisible by 5

In [90]:
x=[5,10,22,33,50]
print("Given list is",x)
print("Divisible by 5: ")
for i in x:
    if i % 5==0:
        print (i)

Given list is [5, 10, 22, 33, 50]
Divisible by 5:
5
10
50

In [93]:
x=input();x=list(x)
print("Given list is",x)
print("Divisible by 5: ")
for i in x:
    if i % 5==0:
        print (i)

5 10 15 22 33 50
Given list is ['5', ' ', '1', '0', ' ', '1', '5', ' ', '2', '2', ' ', '3', '3', ' ', '5', '0']
Divisible by 5:

TypeError: not all arguments converted during string formatting

In [96]:

x=input();x=x.split()
x=list(x)
print("Given list is",x)
print("Divisible by 5: ")
for i in x:
    if i % 5==0:
        print (i)

10 55 66 20 100
Given list is ['10', '55', '66', '20', '100']
Divisible by 5:

TypeError: not all arguments converted during string formatting

# Exercise 7: Return the count of a given substring from a string
#### Write a program to find how many times substring “Emma” appears in the given string.

In [2]:
str_x = "Emma is good developer. Emma is a writer"
str_x.count("Emma")

2

# Exercise 8: Print the following pattern

In [ ]:
#templete

rows = 6
# if you want user to enter a number, uncomment the below line
# rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

In [19]:
for i in range(6):
    for x in range(i):
        print(i,end='')   #end="" علشان مينزلش كل مره سطر ويحطهم مع بعض

122333444455555

In [24]:
for i in range(6):
    for x in range(i):
        print(i,end='')
    print("\n")

1

22

333

4444

55555

In [25]:
for i in range(6):
    for x in range(i):
        print(i,end='')
    print("")

1
22
333
4444
55555

## Exercise 9.1 : Check Palindrome Text

In [ ]:
def is_plaindrome(text):
    length=len(text)
    for i in (0,length//2):  # 7//2 ->>>3       عشان يطلغلي عدد صحيح بتقرب للاقل عشان نقسمهم بالظبط
        if (text[i]!= text[length-i-1]:
            return False
        else:
            return True         

            
string1="racecar"
 

string2="abceba"

In [29]:
def is_plaindrome(text):
    length=len(text)
    for i in range(0 ,length//2):  # 7//2 ->>>3       عشان يطلغلي عدد صحيح بتقرب للاقل عشان نقسمهم بالظبط
        if (text[i]!= text[length-i-1]):
            return False
    return True
string1="racecar"
print(is_plaindrome(string1))   
            
string2 ="abceba"
print(is_plaindrome(string2))

True
False

# Exercise 9.2: Check Palindrome Text & Number

In [34]:
x=input("entet the value : ")
reverse=x[::-1]
if (x==reverse):
    print("yes it is palindrome")
else:
    print("no it is not palindrome")

entet the value : 121
yes it is palindrome

In [42]:
x=input("entet the value : ")
reverse=x[::-1]
if (x==reverse):
    print("yes it is palindrome")
else:
    print("no it is not palindrome")

entet the value : 125
no it is not palindrome

In [43]:
x=input("entet the value : ")
reverse=x[::-1]
if (x==reverse):
    print("yes it is palindrome")
else:
    print("no it is not palindrome")

entet the value : racecar
yes it is palindrome

# Exercise 9: Check Palindrome Number
#### Write a program to check if the given number is a palindrome number.

#### A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [40]:
#عايز طريقه اللعب ف الرقم براحتي
x=121

reverse_x=x[::-1]

if (x==reverse):
    print("original number",x)
    print("Yes. given number is palindrome number")
else:
     print("No. given number is not palindrome number")

TypeError: 'int' object is not iterable

# Exercise 10: Create a new list from a two list using the following condition
##### Create a new list from a two list using the following condition

##### Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [50]:
list1=[10,20,25,30,35]
list2=[40,45,60,75,90]
newlist=[]

for i in list1:
    if i%2 !=0 :
        newlist.append(i)  
for j in list2:
    if j%2 ==0:
        newlist.append(j)
print("odd from first and even from the second",newlist)

odd from first and even from the second [25, 35, 40, 60, 90]

In [49]:
def lists (list1,list2):
    newlist=[]
    for i in list1:
        if i%2 !=0 :
            newlist.append(i)
    for j in list2:
        if j%2 ==0:
            newlist.append(j)
    return newlist

list1=[10,20,25,30,35]
list2=[40,45,60,75,90]
print("result list: ",lists(list1,list2))

result list:  [25, 35, 40, 60, 90]

In [8]:
list1 = [10, 20, 25, 30, 35]

list2 = [40, 45, 60, 75, 90]

newlist1 = [i for i in list1 if i%2!=0]

newlist2 = [i for i in list2 if i%2==0]

newlist = newlist1 + newlist2

print(newlist)

[25, 35, 40, 60, 90]

# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [1]:
number=98754321
print ("the number :",number)

while number>0:
    digit= number%10
    number=number//10
    print(digit,end="")

the number : 98754321
12345789

# convert integer to list  & convert list to integer

In [8]:
number=98754321
print ("the number :",number)
res = [int(x) for a,x in enumerate(str(number))]

reverse=res[::-1]
reverse

the number : 98754321

[1, 2, 3, 4, 5, 7, 8, 9]

In [9]:
number=98754321
print ("the number :",number)
res = [int(x) for a,x in enumerate(str(number))]

reverse=res[::-1]
reverse

for i in reverse:
    print(i, end="")

the number : 98754321
12345789

# ***** convert integer to list in python *****

In [5]:
n=2019
res = [int(x) for a,x in enumerate(str(n))]
print(res)

[2, 0, 1, 9]

# ***** convert list to integer in python *****

In [6]:
# creating a list
lst = [12, 15, 17]
 
# iterating each element
for i in lst:
    print(i, end="")

121517

# Exercise 12: Calculate income tax for the given income by adhering to the below rules
#### For example, suppose the taxable income is 45000 the income tax payable is

##### 10000*0% + 10000*10%  + 25000*20% = $6000.

In [11]:
income=45000
tax_payable=0
if income<=10000:
    tax_payable=0
elif income<=20000:
    x= income - 10000
    tax_payable=a*10 / 100
else:
    tax_payable=0
    tax_payable=10000*10 / 100
    
    z= income - 20000
    tax_payable=tax_payable + z*20 / 100
#     tax_payable +=(income - 20000)*20 /100
print (tax_payable)

6000.0

# # Exercise 13: Print multiplication table form 1 to 10

In [16]:
for i in range (1,11):
    for j in range (1,11):
        print(i*j,end =" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [56]:
# x=5
# for i in range (0,x+1):

for i in range (0,6,1):
    for j in range (0,i+1):
        print("*" ,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [52]:

for i in range (7,0,-1):
    for j in range (0,i-1):
        print("*" ,end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

###### -------

In [17]:
for i in range(0, 7, 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [16]:
for i in range(6, 0, -1):
    print("* " * i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
##### Note here exp is a non-negative integer, and the base is an integer.

In [6]:
def exponent(base, exp):
    num=exp
    result=1
    while num>0:
#         result = result * base
#         num = num - 1
        result *=base
        num -=1
    
    print(base,"raises to the power of",exp,"is :",result)
exponent(5,4)

5 raises to the power of 4 is : 625

In [7]:
def exponent(base, exp):
    num=exp
    result=1
    while num>0:
#         result = result * base
#         num = num - 1
        result *=base
        num -=1
    
    print(base,"raises to the power of",exp,"is :",result)
exponent(2,5)

2 raises to the power of 5 is : 32

In [10]:
base = 2
exp = 5
result=base**exp
print(f"{base} raises to the power of {exp}: ",result)

2 raises to the power of 5:  32

In [11]:
def exponent(base,power):
    x=base**power
    print(base, "raises to the power of", power, "is: ", x)
exponent(2,5)

2 raises to the power of 5 is:  32

In [12]:
def exponent(base,power):
    print(base, "raises to the power of", power, "is: ", base**power)
exponent(2,5)

2 raises to the power of 5 is:  32